@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --green: #A2D39B;
    --bourdeaux: #61082B;
    --azure: #0093CE;
    --red: #FF1C1C;
    --greyblue: #B4D0E7;
    --yellow: rgb(255, 234, 0);
    --darkblue:darkblue;
    --darkred:rgba(205, 2, 2, 0.913);

  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header{
    
    background-color: white;
    display:flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 100%;
    position: fixed;
    z-index: 1; /* ho dovuto usare lo z-index qui perché il position fixed viene sconfitto allo scorrimento nella sezione 4 dei rettangoli colorati, lì ho usato il position absolute per centrare i loghi nei rettangoli colorati  (quindi senza usare il padding perché mi rimpicciolisce troppo i loghi), perciò son ritornato quassù per impostare lo z-index perché altrimenti non riesco a fare il bonus con l'hover perché se imposto uno z-index:-1 in quel punto non mi fa l'effetto hover per il bonus*/
   
}

.logo{
    width: 115px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 20px;
}

.navleft{
    flex-direction: row;
    align-content: center;
    display:flex;
    width:50vw;
    

}

.navright{
    flex-direction: row-reverse;
    vertical-align: middle;
    display:flex;
    width:50vw;
}

.menulist{
    list-style-type: none;
    justify-content: space-between;
    display:flex;
    vertical-align: middle;    
}

.textpattern{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

.textpattern1{
    font-family: 'Open Sans', sans-serif;
    font-size: 10.5px;
}

.textpattern2{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}

.navmenuitem{
    text-decoration: none;
    color: #464646;
    
}

.navmenuitem:visited{
    color:#464646;
}

.dropdown{
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255); 
    z-index: 2;
    padding-top: 18px;
    display: none;
    
}

.dropelement{
    padding-left: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #464646;    
}

.dropelement:hover {
    background-color: pink;
}

.listadropdown{
    list-style-type: none;
    border-top: 2px solid #FF1C1C;
}


.itembox{
    padding: 17px 10px;
    height:100%;
    position:relative;
}

.itembox:hover .dropdown{
    cursor: pointer;
    display:block;
    
}

.bottonebox{
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 17px;
}

.bottonebox2{
    padding-left: 0px;
    padding-bottom: 20px;
    padding-top: 5px;
}

.bottone{
    color:white;
    background-color: #0061FF;
    padding: 4px 10px;
    text-decoration: none;
}

/* Main */

.section1{
    
    background-color: #B4D0E7;
    width: 100%;
    height:550px;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.box1{
    height: 600px;
}

.content1{
    display: flex;
    flex-direction: row;
    padding-top: 45px;
    color: #000710;
    

}

p{
    margin-bottom: 20px; 

}

.content1left{
    width:30%;
    display:flex;
    flex-direction: column;
}

.content1right{
    width: 70%;
}

.titolone{
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
    color: black;
    font-size: 50px;
    font-weight: 900;
}

.jumboimg{          
    width: 100%;
}

.iconafreccia{
    font-size: 30px;
    padding-top:35px;
    font-weight:bolder;
}

/* Section2 */


.box2{
    padding-top: 50px; 
}

.box2b{
    padding-bottom: 100px;
}


.container2{
    width: 700px;
    margin: 0 auto;
}

.titolo{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 25px;
    padding-top:40px;
    padding-bottom:40px;
    padding-left: 10px;

}

#checkline{
    padding-left: 10px;
}

.checklinespan{
    padding-right: 30px;
}

.checkbox-round {
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1.5px solid rgb(233, 233, 233);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    
}

.checkbox-round:checked {
    background-color: white;
    border: 4px solid #0061FF;
}

.boxcolumns{
    width: 100%;
    display: flex;
    padding-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}
 
.column{
    width: 30%;
    display:flex;
    flex-direction: column;
    border:1px solid #D8D8DA;
    margin-left:10px;
    margin-right:10px;

    
}

.headcolumn{
    text-align: center;
    border-bottom: 1px solid #D8D8DA; 
    padding-top: 5px;
    padding-bottom: 5px;
}

.titlebox{
    color: #000000;
    padding-top: 20px;
    padding-bottom: 15px;
    
}

.grey{
    color: #464646;
}

.blue{
    color:#0061FF;

}

.boldtext{
    font-weight: bold;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}


.paddingcolumn{
    padding-left: 20px;
    padding-right: 20px;
}

    

.bodycolumn{
    padding-top: 40px;
    padding-bottom: 40px;
   
}

.calltoaction{
    padding-bottom: 30px;
}

.linkaction{
    list-style-type: none;
    padding-left: 12px;
}

.linkaction:visited{
    list-style-type: none;
    color:#0061FF;
}

.shortline{
    width:35px;
    background-color: #D8D8DA;
    height:1px;
}

.columnlist{
    display: flex;
    flex-direction:column;
}

.columnelement{
    display:flex;
    flex-direction:row;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

.descrizione{
    padding-left: 4px;
}

.bigbutton{
    padding: 7px 20px;
    text-align: center;
}

.bottonebox3{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;

}

.footercolumn{
    padding-bottom:25px;
}

.column100{
    width:100%;
    display:flex;
    flex-direction: column;
    border:1px solid #D8D8DA;
    margin-left:10px;
    margin-right:20px;
}

.bodyboxcolumn100{ 
    display:flex;
    flex-direction: row;

}

.column100left{
    width:70%;
}

.column100right{
    width:30%;
}

.paddingtext{
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Section3 */

.section2b{
    padding-top: 80px;
    padding-bottom: 80px;
}

.column100leftS3{
    width: 60%;
}

.column100rightS3{
    width: 40%;
    padding-left: 40px;
}

.imginbox{
    width:100%;
    
}

.column100b{
    width:100%;
    display:flex;
    flex-direction: row;;
    margin-left:10px;
    margin-right:20px;
}

.bottone2{
    color:rgb(0, 0, 0);
    border: 1px solid black;
    background-color: #ffffff;
    padding: 7px 13px;
    text-decoration: none;
}

/*Section3main */

.cards-box{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 3);
    padding-right: 15px;
    padding-left: 15px;
}

.imgcard{
    width: 100%;
}

/* Section4 */
.containerS4{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.s4side{
    width:calc(100% / 3);
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;

}

.s4center{
    width: calc(100% / 3);
    background-color: #F5F5F5;
    padding: 0 30px;
    overflow: auto;
}

.logocenter{
    width:50%;
    padding: 30px 0;
}

.logorect{
    width:50%;
    filter: invert(100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


.rect{
    width: 210px;
    height: 210px;
    position: relative;
}

.rect:hover{
    border: 10px solid rgba(255,255,255,0.5);
}


.rect1{
    background-color: var(--green);
}

.rect2{
    background-color: var(--bourdeaux);
}

.rect3{
    background-color: var(--azure);
}

.rect4{
    background-color: var(--red);
}

.rect5{
    background-color: var(--darkred);
}

.rect6{
    background-color: var(--greyblue);
}

.rect7{
    background-color: var(--darkblue);
}

.rect8{
    background-color: var(--yellow);
}

/* Section5 */

.section5{
    background-color: var(--greyblue);
    width:100%;
    height:250px;
}

.S5L{
    width:50%;
}

.title5{
    color: var(--bourdeaux);
    padding-left: 30px;
    padding-top: 60px;
}

.bottonebox5{
    padding-left: 100px;
    padding-top: 75px;

}

.bottone5{
    color:rgb(0, 0, 0);
    background-color: #F5F5F5;
    padding: 7px 25px;
    text-decoration: none;
}

.shortline2{
    width:80px;
}

/* Section6 */

.container6{
    width: 630px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.title6{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 50px;
    
}

.questionbox{
    width: 100%; 
}

.boxquestion{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    width:100%;
    border-bottom: 1px solid black;
    cursor: pointer;
}
 


.question{
    padding: 30px 0;
}

.boxquestion:hover .answer{
    display: block;
}



.arrowq{
    text-align: right;
    padding: 30px 0;
    font-size: 10px;
    
}

.answer{
    padding-bottom: 15px;
    display:none;
}

/* footer */

footer{
    width:100%;
    background-color:black;
    margin: 0 auto;
}

.container-footer{
    width: 900px;
    margin: 0 auto;
}

.boxfooter{
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;s

    
}

.columnfooter{
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 40px;
    padding-left:30px
}

.footer-titlelist{
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    
}

.listafooter{
    color:white;
    list-style-type: none;
    padding-top:10px;
    padding-bottom: 60px;
    

}

.footerelement{
    padding-top: 8px;
    
}

.shortlinefooter{
    background-color: white;
    width: 80px;
    height: 0.5px;
}



.boxlingua{
    font-family: 'Open Sans', sans-serif;
    color:rgb(164, 164, 164);
    font-size: 10.5px;
    vertical-align: middle;
    padding-top: 30px;

}

.lingua{
    padding-left: 3px;
    padding-right: 3px;
}

